# maven #
target

logs

# windows #
Thumbs.db

# Mac #
.DS_Store

# eclipse #
.settings
.project
.classpath
.log
*.class

# idea #
.idea
*.iml
/target
pic/*

# Package Files #
*.jar
*.war
*.ear

# Setting Files #
*.yml


