<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sailmi.system.mapper.ServiceMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="serviceMenuResultMap" type="com.sailmi.system.entity.ServiceMenu">
        <result column="ID" property="id"/>
        <result column="service_id" property="serviceId"/>
        <result column="menu_id" property="menuId"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>


    <select id="selectServiceMenuPage" resultMap="serviceMenuResultMap">
        select * from ucs_service_menu where is_deleted = 0
    </select>

</mapper>
