<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sailmi.enterprise.mapper.EnterpriseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="enterpriseResultMap" type="com.sailmi.system.entity.Enterprise">
        <id column="id" property="id"/>
        <result column="status" property="status"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="enterprise_name" property="enterpriseName"/>
        <result column="credit_code" property="creditCode"/>
        <result column="industry_type" property="industryType"/>
        <result column="enterprise_type" property="enterpriseType"/>
        <result column="region" property="region"/>
        <result column="enterprise_size" property="enterpriseSize"/>
        <result column="charge_person" property="chargePerson"/>
        <result column="position" property="position"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="remarks" property="remarks"/>
    </resultMap>


    <select id="selectEnterprisePage" resultMap="enterpriseResultMap">
        select * from ucs_enterprise where is_deleted = 0
    </select>
    <!-- 添加企业信息 -->
    <insert id="insertEnterpriseInfo" parameterType="com.sailmi.system.entity.Enterprise" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO
			ucs_enterprise
			(
			tenant_id,
			enterprise_name,
			credit_code,
			industry_type,
			enterprise_type,
			region,
			enterprise_size,
			charge_person,
			position,
			phone,
			email,
			status,
			remarks,
			create_user,
			create_time,
			update_user,
			update_time,
			is_deleted
			)
		VALUES
			(
			#{tenantId},
			#{enterpriseName},
			#{creditCode},
			#{industryType},
			#{enterpriseType},
			#{region},
			#{enterpriseSize},
			#{chargePerson},
			#{position},
			#{phone},
			#{email},
			#{status},
			#{remarks},
			#{createUser},
			#{createTime},
			#{updateUser},
			#{updateTime},
			#{isDeleted}
			)
	</insert>

    <!--社会统一验证码-->
    <select id="getAll" resultType="string">
        SELECT credit_code FROM ucs_enterprise
    </select>

    <!-- 企业名称模糊查询 -->
    <select id="enterpriseNameFuzzySearch" resultType="String">
        SELECT
        enterprise_name
        FROM
        ucs_enterprise
        <!-- WHERE
            enterpriseName LIKE "%"#{search}"%" -->
    </select>
    <select id="getId" resultType="int">
        SELECT id FROM ucs_enterprise WHERE enterprise_name=#{enterpriseName}
    </select>

    <!--加入企业-->
    <insert id="joinEnterprise" >
        INSERT INTO ucs_user_enterprise(user_id,enterprise_id,create_times) VALUES(#{userId}, #{id},#{time})
    </insert>

    <!--用户的企业列表-->
    <select id="enterpriseList" resultType="com.sailmi.system.entity.Enterprise">
        SELECT id, enterprise_name
        FROM ucs_enterprise
        WHERE id IN (
            SELECT enterprise_id
            FROM ucs_user_enterprise
            WHERE user_id = #{userId}

        )
    </select>

    <!--是否存在企业中-->
    <select id="exist" resultType="int">
        SELECT count(id) FROM ucs_user_enterprise
        WHERE user_id = #{userId}
        AND enterprise_id = #{id}
        AND is_deleted = 0
    </select>

    <!-- 根据用户ID查询企业基本信息 -->
    <select id="selectEnterprise" parameterType="Map" resultType="com.sailmi.system.entity.Enterprise">
		SELECT
			se.*
		FROM
			ucs_enterprise se
		LEFT JOIN
			ucs_user_enterprise sue
		ON
			se.id = sue.enterprise_id
		WHERE
			sue.user_id = #{userId}
		AND
			se.id = #{enterpriseId}
	</select>

    <!--企业用户关系-->
    <insert id="insertUserEnterprise" >
        INSERT INTO ucs_user_enterprise(user_id, enterprise_id, create_times) VALUES (#{userId}, #{id},#{time})
    </insert>

    <!-- 根据用户ID查询企业信息 -->
    <select id="getUserEnterpriseByUserId" parameterType="BigInteger" resultType="com.sailmi.system.entity.UserEnterpriseDepartment">
		SELECT
			sue.enterprise_id AS enterpriseId,
			se.enterprise_name AS enterpriseName,
			sue.create_times AS createTime,
			sue.department_id AS departmentId,
			sd.dept_name AS departmentName,
			sue.status AS status
		FROM
			ucs_user_enterprise sue
		LEFT JOIN
			ucs_dept sd
		ON
			sd.id = sue.department_id
		LEFT JOIN
			ucs_enterprise se
		ON
			se.id = sue.enterprise_id
		WHERE
			sue.user_id = #{userId}
		/*AND
			sue.isOpen = "1"*/
	</select>
    <update id="check" parameterType="string">
        UPDATE ucs_enterprise
        SET status = 0
        WHERE id = #{id}
    </update>
</mapper>
