<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sailmi.message.dao.mapper.BatchMessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="batchMessageResultMap" type="com.sailmi.message.dao.model.BatchMessage">
        <id column="id" property="id"/>
        <result column="total" property="total"/>
        <result column="content" property="content"/>
        <result column="send_status" property="sendStatus"/>
        <result column="biz_id" property="bizId"/>
        <result column="fail_code" property="failCode"/>
        <result column="success" property="success"/>
        <result column="failure" property="failure"/>
        <result column="messageSetting_id" property="messageSettingId"/>
    </resultMap>


    <select id="selectBatchMessagePage" resultMap="batchMessageResultMap">
        select * from t_batch_message where is_deleted = 0
    </select>

</mapper>
