<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sailmi.message.dao.mapper.MessageSettingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="messageSettingResultMap" type="com.sailmi.message.dao.model.MessageSetting">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="private_key" property="privateKey"/>
        <result column="prefix" property="prefix"/>
        <result column="validate_code_length" property="validateCodeLength"/>
        <result column="channel_params" property="channelParams"/>
    </resultMap>


    <select id="selectMessageSettingPage" resultMap="messageSettingResultMap">
        select * from t_messagesetting where is_deleted = 0
    </select>

</mapper>
