<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sailmi.cms.mapper.FileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="fileResultMap" type="com.sailmi.cms.entity.File">
        <id column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="content_id" property="contentId"/>
        <result column="url" property="url"/>
        <result column="add_time" property="addTime"/>
        <result column="enterprise_id" property="enterpriseId"/>
    </resultMap>


    <select id="selectFilePage" resultMap="fileResultMap">
        select * from ucs_cms_file where is_deleted = 0
    </select>

</mapper>
