<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sailmi.system.user.mapper.AliceUserMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="userResultMap" type="com.sailmi.system.user.entity.User">
        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="safe_code" property="code"/>
        <result column="login_name" property="account"/>
        <result column="password" property="password"/>
        <result column="nick_name" property="name"/>
        <result column="real_name" property="realName"/>
        <result column="user_email" property="email"/>
        <result column="user_phone" property="phone"/>
        <result column="user_birthday" property="birthday"/>
        <result column="user_sex" property="sex"/>
        <result column="head_img" property="avatar"/>
        <result column="user_address" property="userAddress"/>
        <result column="real_status" property="realStatus"/>
        <result column="last_login" property="lastLogin"/>
        <result column="enterprise_status" property="enterpriseStatus"/>
        <result column="phone_status" property="phoneStatus"/>
        <result column="email_status" property="emailStatus"/>
        <result column="info_status" property="infoStatus"/>
        <result column="default_enterprise" property="defaultEnterpriseId"/>
        <result column="is_initialpass" property="isInitialpass"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        select id,
        create_user AS createUser,
        create_time AS createTime,
        update_user AS updateUser,
        update_time AS updateTime,
        status,
        is_deleted AS isDeleted,
        login_name AS account,
        password,
        nick_name  AS name,
        real_name AS realName ,
        user_email AS email,
        user_phone AS phone,
        user_birthday AS birthday,
        user_sex AS sex,
        default_enterprise AS defaultEnterpriseId
    </sql>

    <insert id="insertUser" parameterType="com.sailmi.system.user.persist.AliceUserModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ucs_user(
			nick_name,
			tenant_id,
			login_name,
			password,
			real_name,
			user_phone,
			user_sex,
			real_status,
			enterprise_status,
			phone_status,
			default_enterprise,
			status
		) VALUES (
			#{model.realName},
			#{model.tenantId},
			#{model.loginName},
			#{model.password},
			#{model.realName},
			#{model.userPhone},
			#{model.userSex},
			1,
			1,
			1,
			#{model.enterpriseId},
			0
		)
    </insert>

    <select id="queryUserIdByPhone" parameterType="String" resultType="String">
		SELECT id FROM ucs_user WHERE user_phone = #{userPhone}
	</select>
</mapper>
